@{
    ViewData["Title"] = "Home Page";
   //ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello world</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> </p>
    <p>
        <button class="btn btn-info">
            <a class="text-dark text-decoration-none" href="~/Artist/Create">Go to Artist</a>
        </button>
    </p>
    <p>
        <button class="btn btn-warning">
            <a class="text-dark text-decoration-none" href="~/Music/Create">Go to Music</a>
        </button> 
    </p>
</div>
